* {
    margin: 0;
    padding: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;
    box-sizing: border-box;
}

body {
    background-color: rgb(194, 228, 217);
}

header img {
    width: 40px;
    margin-left: 24px;
    margin-top: 24px;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: rgb(66, 146, 121);
    display: block;
    margin: 24px;
    border-radius: 10px;
}

input, button {
    display: block;
    margin: 24px;
    border-radius: 10px;
}

form input {
    width: 80%;
    height: 60px;
    color: rgb(66, 146, 121);
    border: 1px solid rgb(66, 146, 121);
    border-radius: 8px;
    padding: 0 24px;
}

.btn-app{
    width: 80%;
    height: 60px;
    background: rgb(66, 146, 121);
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 15px 25px;
}

.btn-app:hover{
    background-color: rgb(1, 54, 37);
    cursor: pointer;
}

.app .content-list ul li a{
    height: 30px;
    padding: 1px;
    background: rgb(66, 146, 121);
    border: 0;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 10px 5px;
}

.app .content-list {
    width: 100%;
}

.app .content-list{
    width: 100%;
    margin: 14px 55px;
}

.app .content-list ul{
    display: grid;
    grid-gap: 24px;
    list-style: none;
}

